<a href="https://colab.research.google.com/github/garynico/IndoBERT-Hoax/blob/main/Data_Preprocessing_Fake_News_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fake News Hoax Detection - Data Preprocessing

### Import library

In [1]:
import pandas as pd
from google.colab import files
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
from google.colab import files

drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
destination_folder_data = '/content/drive/My Drive/transformers/Data'
%cd /content/drive/My Drive/transformers/Data

/content/drive/My Drive/transformers/Data

### Import Raw Data

In [4]:
url = 'https://raw.githubusercontent.com/garynico/IndoBERT-Hoax/main/train_new.csv'
df = pd.read_csv(url)

### Data Exploration

In [5]:
df.head(10)

   ID    tanggal  ...                                             narasi label
0   0  17-Aug-20  ...  A caller to a radio talk show recently shared ...     1
1   1  17-Jul-20  ...  Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...     1
2   2  13-Jul-20  ...  Jokowi adalah presiden terbaik dlm sejarah ban...     1
3   3   8-Jul-20  ...  Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...     1
4   4  24-Jun-20  ...        Kadrun kalo lihat foto ini panas dingin . .     1
5   5  17-Jun-20  ...  selamat siang teman teman fb ku semuanyaü§©,cuma...     1
6   6   5-May-20  ...  LIHATLAH MEREKA SUDAH MEMPERSIAPKAN DIRI DENGA...     1
7   7  24-Mar-20  ...  Italia punya fasilitas perawatan kesehatan ter...     1
8   8   9-Jan-20  ...  Polisi goblok. Bukanya cpet‚Äù d tolongin malah ...     1
9   9  24-Dec-19  ...  Polisi china telah menganiaya wanita uighur le...     1

[10 rows x 5 columns]

In [6]:
from collections import Counter
print(Counter(df['label']))

Counter({1: 3465, 0: 766})

### Data Resampling

In [7]:
df_real = df[df['label'] == 0]
df_fake = df[df['label'] == 1]

In [8]:
from sklearn.utils import resample

df_real_resample = resample(df_real,
                          replace=True, # sample with replacement
                          n_samples=len(df_fake), # match number in majority class
                          random_state=27) # reproducible results

In [9]:
df = pd.concat([df_real_resample, df_fake])
print(Counter(df['label']))

Counter({0: 3465, 1: 3465})

## Data Cleansing

Remove Emojis

In [10]:
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df.head(10)

        ID    tanggal  ...                                             narasi label
138    138   8-Feb-18  ...  Utk Kesekian kalinya terjadi Penganiayaan thdp...     0
3790  3790  19-Sep-17  ...  PECAHHH!!! Ribuan Etnis China Singapura Turun ...     0
2937  2937  19-Nov-16  ...  Sebenarnya, sesusah apa memberantas berita hoa...     0
4153  4153  15-Agu-18  ...  Kepala BSNP, Bambang Suryadi menjelaskan isu U...     0
1679  1679  14-Mar-18  ...  Slmt pagi. Tweet @PartaiHulk ini mengandung fi...     0
164    164  22-Apr-19  ...  Berita Pagi ini di TV One, Berhubung 02 unggul...     0
2896  2896  30-Sep-16  ...  Tidak Ada Media Yang Meliput Demo Buruh Di Dep...     0
807    807  27-Dec-17  ...  Btw. Inilah Revolusi Mental Pancasila ala Joko...     0
22      22   8-Mar-17  ...  Nezar Patria adalah Kader PKI, Ikut Rapat Seti...     0
3440  3440  27-Nov-16  ...  Nama jalan di Pulau Reklamasi, seriuuuuus ya m...     0

[10 rows x 5 columns]

###### Lowercase & Capitalize Title

In [11]:
df['judul'] = df['judul'].str.title()
df.head(10)

        ID    tanggal  ...                                             narasi label
138    138   8-Feb-18  ...  Utk Kesekian kalinya terjadi Penganiayaan thdp...     0
3790  3790  19-Sep-17  ...  PECAHHH!!! Ribuan Etnis China Singapura Turun ...     0
2937  2937  19-Nov-16  ...  Sebenarnya, sesusah apa memberantas berita hoa...     0
4153  4153  15-Agu-18  ...  Kepala BSNP, Bambang Suryadi menjelaskan isu U...     0
1679  1679  14-Mar-18  ...  Slmt pagi. Tweet @PartaiHulk ini mengandung fi...     0
164    164  22-Apr-19  ...  Berita Pagi ini di TV One, Berhubung 02 unggul...     0
2896  2896  30-Sep-16  ...  Tidak Ada Media Yang Meliput Demo Buruh Di Dep...     0
807    807  27-Dec-17  ...  Btw. Inilah Revolusi Mental Pancasila ala Joko...     0
22      22   8-Mar-17  ...  Nezar Patria adalah Kader PKI, Ikut Rapat Seti...     0
3440  3440  27-Nov-16  ...  Nama jalan di Pulau Reklamasi, seriuuuuus ya m...     0

[10 rows x 5 columns]

#####Remove Punctuation (??, .., !!, etc)

In [12]:
df = df.replace(r'[\?\.\!\#\,\>]+(?=[\?\.\!\#\,\>])', '', regex=True)
df = df.replace(r'\r\n', ' ', regex=True)
df.head(10)

        ID    tanggal  ...                                             narasi label
138    138   8-Feb-18  ...  Utk Kesekian kalinya terjadi Penganiayaan thdp...     0
3790  3790  19-Sep-17  ...  PECAHHH! Ribuan Etnis China Singapura Turun ke...     0
2937  2937  19-Nov-16  ...  Sebenarnya, sesusah apa memberantas berita hoa...     0
4153  4153  15-Agu-18  ...  Kepala BSNP, Bambang Suryadi menjelaskan isu U...     0
1679  1679  14-Mar-18  ...  Slmt pagi. Tweet @PartaiHulk ini mengandung fi...     0
164    164  22-Apr-19  ...  Berita Pagi ini di TV One, Berhubung 02 unggul...     0
2896  2896  30-Sep-16  ...  Tidak Ada Media Yang Meliput Demo Buruh Di Dep...     0
807    807  27-Dec-17  ...  Btw. Inilah Revolusi Mental Pancasila ala Joko...     0
22      22   8-Mar-17  ...  Nezar Patria adalah Kader PKI, Ikut Rapat Seti...     0
3440  3440  27-Nov-16  ...  Nama jalan di Pulau Reklamasi, seriuuuuus ya m...     0

[10 rows x 5 columns]

#### Drop unecessary column

In [13]:
df = df.drop(['ID'], axis=1)
df.head()

        tanggal  ... label
138    8-Feb-18  ...     0
3790  19-Sep-17  ...     0
2937  19-Nov-16  ...     0
4153  15-Agu-18  ...     0
1679  14-Mar-18  ...     0

[5 rows x 4 columns]

In [14]:
df = df.astype({'tanggal': 'object', 'judul': 'object', 'narasi':'object', 'label': 'int64'})

####Export Dataframe

In [15]:
# df.to_csv('data_resample.csv') 
# files.download('data_resample.csv')

## Split Data (Train, Validation, Test)

In [16]:
pd.set_option("display.max_rows", None, "display.max_columns", None, "display.max_colwidth", None)
dataset = 'https://raw.githubusercontent.com/garynico/IndoBERT-Hoax/main/data_resample.csv'

df = pd.read_csv(dataset)
df = df.drop(['Unnamed: 0'], axis=1)

In [17]:
# Shuffle Data
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,tanggal,judul,narasi,label
0,5-Aug-20,Gambar Perjuangan Fpi Tahun 1940 Melawan Penjajah Dari Belanda,Perjuangan FPI tahun 1940 melawan penjajah dari Belanda. Subhanallah,1
1,17-Feb-18,Yang Berminat Menjadi Anggota Pki Silahkan Daftarkan Diri Anda,Yang berminat menjadi anggota PKI silahkan daftarkan diri anda saat ini jumlah anggota PKI sudah sampai 30.000.000 anggota,0
2,5-Jul-18,Tanda Tangan Anies Baswedan Dalam Surat Larangan Penggunaan Kawasan Monas Oleh Aktivis 98,002/Rembuknas 98/VI/2018,1
3,18-Sep-18,Tidak Semua Operator Seluler Menyediakan Rbt Jokowi Saja,"Program tersebut tidak ada, ujar General Manager External Corporate Communication Telkomsel, Denny Abidin, Senin (17/9).",0
4,7-Jan-17,Mastel Turut Optimalkan Peran Stakeholder Sektor Telematika Dalam Melawan Penyebaran Hoax,"Masyarakat Telematika Indonesia (MASTEL) memandang momen Aksi Turn Back Hoax yang akan diselenggarakan oleh Masyarakat Anti Fitnah Indonesia (Mafindo) secara serentak di 7 Kota pada hari Minggu, 8 Januari 2017, memiliki makna yang penting. Sebab, aksi ini akan melibatkan masyarakat secara terbuka dan mengedepankan peran masyarakat sebagai pelaku sentral dalam membangun kondusivitas kehidupan bermasyarakat, berbangsa dan bernegara",0

In [18]:
first_n_words = 200

def trim_string(x):

    x = x.split(maxsplit=first_n_words)
    x = ' '.join(x[:first_n_words])

    return x

In [19]:
# Ratio
train_test_ratio = 0.80
train_valid_ratio = 0.80

# Trim text and titletext to first_n_words
df['narasi'] = df['narasi'].apply(trim_string)

df_real = df[df['label'] == 0] 
df_fake = df[df['label'] == 1] 

# Train-test split
df_real_full_train, df_real_test = train_test_split(df_real, train_size = train_test_ratio, random_state = 1)
df_fake_full_train, df_fake_test = train_test_split(df_fake, train_size = train_test_ratio, random_state = 1)

df_real_train, df_real_valid = train_test_split(df_real_full_train, train_size = train_valid_ratio, random_state = 1)
df_fake_train, df_fake_valid = train_test_split(df_fake_full_train, train_size = train_valid_ratio, random_state = 1)

# Concatenate splits of different labels
df_train = pd.concat([df_real_train, df_fake_train], ignore_index=True, sort=False)
df_valid = pd.concat([df_real_valid, df_fake_valid], ignore_index=True, sort=False)
df_test = pd.concat([df_real_test, df_fake_test], ignore_index=True, sort=False)

# Shuffle Data
df_train = df_train.sample(frac=1).reset_index(drop=True)
df_test = df_test.sample(frac=1).reset_index(drop=True)
df_valid = df_valid.sample(frac=1).reset_index(drop=True)

# Write preprocessed data
df_train.to_csv(destination_folder_data + '/train.csv', index=False)
df_valid.to_csv(destination_folder_data + '/valid.csv', index=False)
df_test.to_csv(destination_folder_data + '/test.csv', index=False)